.btn{
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;

    &--primary{
        background-color:purple;
    }
    &--secondary{
        background-color:white;
        color: #000;
        border: 1px solid lightgrey;
    }
    &--success{
        background-color:green;
    }
    &--info{
        background-color:blue;
    }
    &--warning{
        background-color:orange;
        color:#000;
    }
    &--danger{
        background-color:red;
    }

    &--large{
        font-size: 30px;
    }

    &--submit{
        background-color: blue;
    }

    &--cancel{
        color:  blue;
        text-decoration: none;
        font-weight: 800;
    }
}