.btn{
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;

    &--primary{
        background-color:purple;
    }
    &--secondary{
        background-color:white;
        color: #000;
        border: 1px solid grey;
    }
    &--success{
        background-color:green;
    }
    &--info{
        background-color:blue;
    }
    &--warning{
        background-color:orange;
    }
    &--danger{
        background-color:red;
    }

}